.container {
    display: flex;

}

#header {

}

#content {

}

#footer {
    
}

#calculator {
    border: lightgray solid 2px;
    flex-direction: column;

}

#calcHeader {

}

#calcDisplay {

}

#calcButtons {

}